streamlit
graphviz
torch
scikit-learn
matplotlib
ipywidgets
transformers>=4.30.0
accelerate>=0.26.0
spacy==3.8.4
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0.tar.gz
